@import 'mixins';

html,
body {
  padding: 0px;
  margin: 0px;
  font-size: 55.2px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  @include screen (500){
    font-size: 12px;
    height: 100%;
  }
}

.app {
  position: relative;
  background-image: url('/assets/images/mobile/page1-bg.jpg');
  width: 100%;
  background-size: 100% 100%;
  overflow: hidden;
  height: 837px;
  min-height: 100vh;
  @include screen(500) {
    background-image: url('/assets/images/page1-bg.jpg');
    height: 100%;
    background-position: center top;
    background-size: cover;
  }
  background-repeat: no-repeat;

  .clouds {
    position: absolute;
    width: 7.5rem;
    height: 2.77rem;
    background: url('/assets/images/mobile/icon-cloud.png.png') no-repeat center / 100%;
    bottom: 15%;
    z-index: 7;
    left: 0;
    animation: trasnlateleftmobile 8s linear alternate infinite;
    @include screen (500) {
      width: 120%;
      height: 90%;
      background: url('/assets/images/page1-cloud.png') no-repeat center / 100%;
      animation: trasnlateleft 15s linear alternate infinite;
      left: 50%;
      margin-left: -60%;
      bottom: -10%;
      z-index: 2;
    }
  }

  .stone {
    &-1 {
      position: absolute;
      width: 6.31rem;
      height: 3.18rem;
      background: url('/assets/images/mobile/icon-stone1.png') no-repeat center / 100%;
      z-index: 6;
      left: 50%;
      margin-left: -3.15rem;
      bottom: 20%;
      animation: trasnlateTomBottomMobile 3s 2s linear alternate infinite;
      @include screen(500) {
        display: none;
      }
    }
    &-2 {
      position: absolute;
      width: 7rem;
      height: 2.53rem;
      background: url('/assets/images/mobile/icon-stone2.png') no-repeat center / 100%;
      z-index: 6;
      left: 50%;
      margin-left: -3.5rem;
      bottom: 30%;
      @include screen(500) {
        display: none;
      }
    }
  }

  .decoration {
    position: absolute;
    bottom: 0;
    z-index: 5;

    &-1 {
      display: none;
      @include screen(500) {
        display: block;
        width: 100%;
        height: 643px;
        background: url('/assets/images/page1-cloud.png') no-repeat center / 100%;
        left: 6%;
      }
    }

    &-2 {
      display: none;
      @include screen (500) {
        display: block;
        width: 1548px;
        height: 643px;
        background: url('/assets/images/icon-decoration2.png') no-repeat center / 100%;
        left: 8%;
        animation: trasnlateTomBottom 3s 1s linear alternate infinite;
      }
    }

    &-3 {
      display: none;
      @include screen (500) {
        display: block;
        width: 1548px;
        height: 643px;
        background: url('/assets/images/icon-decoration3.png') no-repeat center / 100%;
        left: 15%;
        animation: trasnlateTomBottom 3s 2s linear alternate infinite;
      }
    }
  }

  .modal-bg {
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba($color: #000000, $alpha: 0.6);
    z-index: 1000;
    &.active {
      display: block;
    }
    .modal-dialog {
      box-sizing: border-box;
      // margin: 10px;
      position: fixed;
      z-index: 1001;
      padding: 40px;
      padding-top: 50px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 450px;
      width: 100%;
      // min-height: 300px;
      background-image: url('/assets/images/modal.png');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      border-radius: 4px;
      .header {
        display: flex;
        // justify-content: space-between;
        justify-content: center;
        align-items: center;
        .title {
          font-size: 20px;
          text-align: center;
          font-weight: bold;
        }
        .options {
          font-size: 16rem;
          display: flex;
          align-items: center;
          &>* {
            margin-right: 1rem;
          }
        }
      }
      .row {
        display: flex;
        align-items: center;
        justify-content: center;
        &>*{
          margin-right: 10px;
        }
      }
      .footer {
        font-size: 14px;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        background-color: #CCCCCC;
        padding: 10px;
        // margin-left: -18px;
        // margin-right: -18px;
        // margin-bottom: -18px;
      }
      .form-group{
        font-size: 16px;
        margin-top: 10px;
        .form-control {
          margin-top: 4px;
          box-sizing: border-box;
          width: 100%;
          border-radius: 3px;
          background-color: #CCCCCC;
          border: 1px solid #BDBDBD;
          padding: 7px 10px;
          outline: none;
        }
      }
      .form-action {
        margin-top: 10px;
        display: flex;
        justify-content: center;
      }
      .form-connect{
        text-align: center;
        font-size: 14px;
      }
      .form-custom {
        input {
          display: none;
        }
        label {
          width: 15px;
          height: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid#f7042e;
          border-radius: 50%;
          &::after {
            content: '';
            width: 10px;
            height: 10px;
            background-color: #f7042e;
            border-radius: 50%;
          }
        }
      }
      .btn {
        padding: 8px 12px;
        color: #FFFFFF;
        border: 0px;
        border-radius: 4px;
      }
      .btn-danger {
        background-color: #f7042e;
      }
    }
  }

  .container {
    @include screen(500) {
      width: 68%;
      height: 100%;
      margin: 0 auto;
      position: relative;
      padding-top: 3%;
      z-index: 200;
    }

    .navbar {
      width: 100%;
      height: 60px;
      background-color: #FFFFFF;
      display: block;
      @include screen(500) {
        display: none;
      }
    }

    .header {
      .logo {
        display: block;
        width: 30%;
        margin: 0.15rem auto 0;
        img {
          width: 100%;
        }

        @include screen(500) {
          display: block;
          width: unset;
          margin: unset;
          img {
            width: unset;
          }
        }

        img {
          animation: bounceInDown 1s both;
        }
      }
    }

    .slogan {
      width: 65%;
      margin: 0 auto 0;
      position: relative;
      z-index: 10;

      @include screen(500) {
        position: absolute;
        width: 50%;
        left: 0;
        bottom: 5%;
        z-index: 50;
      }

      img {
        display: block;
        width: 100%;
        animation: flipXIn 1.2s both;
      }
    }

    .character {
      position: absolute;
      pointer-events: none;

      img {
        width: 100%;
        display: block;
      }

      &-1 {
        position: absolute;
        width: 88%;
        right: 0;
        bottom: -10%;
        z-index: 9;

        @include screen(500) {
          width: 48%;
          bottom: 0;
          right: 35px;
        }

        img {
          animation: bounceInUp 0.8s 0.5s both;
        }
      }

      &-2 {
        position: absolute;
        width: 29%;
        left: 15%;
        bottom: 4%;
        z-index: 5;
        @include screen(500) {
          width: 20%;
          left: 20%;
          bottom: 15%;
          z-index: 10;
        }

        img {
          animation: fadeInLeft 0.8s 0.5s both;
        }
      }

      &-3 {
        position: absolute;
        width: 20%;
        left: 2%;
        bottom: 29%;
        z-index: 4;
        @include screen (500) {
          width: 15%;
          left: 5%;
          bottom: 35%;
          z-index: 8;
        }

        img {
          animation: fadeInTop 0.8s 0.6s both;
        }
      }

      &-4 {
        display: none;
        width: 7.5%;
        top: 10%;
        left: 20%;
        animation: flashIn 1s 1s ease both;
        @include screen(500) {
          display: block;
        }

        img {
          animation: topBottom 2s linear alternate infinite;
        }
      }
    }
  }
  .btn-jryx {
    position: absolute;
    width: 35%;
    height: 0.97rem;
    background: url('/assets/images/mobile/btn-jryx.png') no-repeat center/100%;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    z-index: 10;
    opacity: 0;
    animation: flashInMobile 0.8s 1.5s forwards;
    @include screen(500) {
      display: none;
    }
  }

  .icon-arrow {
    position: absolute;
    width: 0.6rem;
    height: 0.65rem;
    left: 50%;
    bottom: 0.15rem;
    margin-left: -0.3rem;
    animation: slide1Before 0.8s linear infinite;
    z-index: 50;
    @include screen(500){
      width: 3%;
      height: unset;
      bottom: 1%;
      left: 50%;
      margin-left: -1.5%;
      z-index: 210;
    }

    img {
      display: block;
      width: 100%;
    }
  }
}

@import 'animations'