html,
body {
  padding: 0px;
  margin: 0px;
  font-size: 55.2px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
@media only screen and (min-width: 500px) {
  html,
body {
    font-size: 12px;
    height: 100%;
  }
}

.app {
  position: relative;
  background-image: url("/assets/images/mobile/page1-bg.jpg");
  width: 100%;
  background-size: 100% 100%;
  overflow: hidden;
  height: 837px;
  min-height: 100vh;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 500px) {
  .app {
    background-image: url("/assets/images/page1-bg.jpg");
    height: 100%;
    background-position: center top;
    background-size: cover;
  }
}
.app .clouds {
  position: absolute;
  width: 7.5rem;
  height: 2.77rem;
  background: url("/assets/images/mobile/icon-cloud.png.png") no-repeat center/100%;
  bottom: 15%;
  z-index: 7;
  left: 0;
  animation: trasnlateleftmobile 8s linear alternate infinite;
}
@media only screen and (min-width: 500px) {
  .app .clouds {
    width: 120%;
    height: 90%;
    background: url("/assets/images/page1-cloud.png") no-repeat center/100%;
    animation: trasnlateleft 15s linear alternate infinite;
    left: 50%;
    margin-left: -60%;
    bottom: -10%;
    z-index: 2;
  }
}
.app .stone-1 {
  position: absolute;
  width: 6.31rem;
  height: 3.18rem;
  background: url("/assets/images/mobile/icon-stone1.png") no-repeat center/100%;
  z-index: 6;
  left: 50%;
  margin-left: -3.15rem;
  bottom: 20%;
  animation: trasnlateTomBottomMobile 3s 2s linear alternate infinite;
}
@media only screen and (min-width: 500px) {
  .app .stone-1 {
    display: none;
  }
}
.app .stone-2 {
  position: absolute;
  width: 7rem;
  height: 2.53rem;
  background: url("/assets/images/mobile/icon-stone2.png") no-repeat center/100%;
  z-index: 6;
  left: 50%;
  margin-left: -3.5rem;
  bottom: 30%;
}
@media only screen and (min-width: 500px) {
  .app .stone-2 {
    display: none;
  }
}
.app .decoration {
  position: absolute;
  bottom: 0;
  z-index: 5;
}
.app .decoration-1 {
  display: none;
}
@media only screen and (min-width: 500px) {
  .app .decoration-1 {
    display: block;
    width: 100%;
    height: 643px;
    background: url("/assets/images/page1-cloud.png") no-repeat center/100%;
    left: 6%;
  }
}
.app .decoration-2 {
  display: none;
}
@media only screen and (min-width: 500px) {
  .app .decoration-2 {
    display: block;
    width: 1548px;
    height: 643px;
    background: url("/assets/images/icon-decoration2.png") no-repeat center/100%;
    left: 8%;
    animation: trasnlateTomBottom 3s 1s linear alternate infinite;
  }
}
.app .decoration-3 {
  display: none;
}
@media only screen and (min-width: 500px) {
  .app .decoration-3 {
    display: block;
    width: 1548px;
    height: 643px;
    background: url("/assets/images/icon-decoration3.png") no-repeat center/100%;
    left: 15%;
    animation: trasnlateTomBottom 3s 2s linear alternate infinite;
  }
}
.app .modal-bg {
  position: fixed;
  display: none;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}
.app .modal-bg.active {
  display: block;
}
.app .modal-bg .modal-dialog {
  box-sizing: border-box;
  position: fixed;
  z-index: 1001;
  padding: 40px;
  padding-top: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 450px;
  width: 100%;
  background-image: url("/assets/images/modal.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 4px;
}
.app .modal-bg .modal-dialog .header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.app .modal-bg .modal-dialog .header .title {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.app .modal-bg .modal-dialog .header .options {
  font-size: 16rem;
  display: flex;
  align-items: center;
}
.app .modal-bg .modal-dialog .header .options > * {
  margin-right: 1rem;
}
.app .modal-bg .modal-dialog .row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.app .modal-bg .modal-dialog .row > * {
  margin-right: 10px;
}
.app .modal-bg .modal-dialog .footer {
  font-size: 14px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  background-color: #CCCCCC;
  padding: 10px;
}
.app .modal-bg .modal-dialog .form-group {
  font-size: 16px;
  margin-top: 10px;
}
.app .modal-bg .modal-dialog .form-group .form-control {
  margin-top: 4px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 3px;
  background-color: #CCCCCC;
  border: 1px solid #BDBDBD;
  padding: 7px 10px;
  outline: none;
}
.app .modal-bg .modal-dialog .form-action {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.app .modal-bg .modal-dialog .form-connect {
  text-align: center;
  font-size: 14px;
}
.app .modal-bg .modal-dialog .form-custom input {
  display: none;
}
.app .modal-bg .modal-dialog .form-custom label {
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #f7042e;
  border-radius: 50%;
}
.app .modal-bg .modal-dialog .form-custom label::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #f7042e;
  border-radius: 50%;
}
.app .modal-bg .modal-dialog .btn {
  padding: 8px 12px;
  color: #FFFFFF;
  border: 0px;
  border-radius: 4px;
}
.app .modal-bg .modal-dialog .btn-danger {
  background-color: #f7042e;
}
@media only screen and (min-width: 500px) {
  .app .container {
    width: 68%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    padding-top: 3%;
    z-index: 200;
  }
}
.app .container .navbar {
  width: 100%;
  height: 60px;
  background-color: #FFFFFF;
  display: block;
}
@media only screen and (min-width: 500px) {
  .app .container .navbar {
    display: none;
  }
}
.app .container .header .logo {
  display: block;
  width: 30%;
  margin: 0.15rem auto 0;
}
.app .container .header .logo img {
  width: 100%;
}
@media only screen and (min-width: 500px) {
  .app .container .header .logo {
    display: block;
    width: unset;
    margin: unset;
  }
  .app .container .header .logo img {
    width: unset;
  }
}
.app .container .header .logo img {
  animation: bounceInDown 1s both;
}
.app .container .slogan {
  width: 65%;
  margin: 0 auto 0;
  position: relative;
  z-index: 10;
}
@media only screen and (min-width: 500px) {
  .app .container .slogan {
    position: absolute;
    width: 50%;
    left: 0;
    bottom: 5%;
    z-index: 50;
  }
}
.app .container .slogan img {
  display: block;
  width: 100%;
  animation: flipXIn 1.2s both;
}
.app .container .character {
  position: absolute;
  pointer-events: none;
}
.app .container .character img {
  width: 100%;
  display: block;
}
.app .container .character-1 {
  position: absolute;
  width: 88%;
  right: 0;
  bottom: -10%;
  z-index: 9;
}
@media only screen and (min-width: 500px) {
  .app .container .character-1 {
    width: 48%;
    bottom: 0;
    right: 35px;
  }
}
.app .container .character-1 img {
  animation: bounceInUp 0.8s 0.5s both;
}
.app .container .character-2 {
  position: absolute;
  width: 29%;
  left: 15%;
  bottom: 4%;
  z-index: 5;
}
@media only screen and (min-width: 500px) {
  .app .container .character-2 {
    width: 20%;
    left: 20%;
    bottom: 15%;
    z-index: 10;
  }
}
.app .container .character-2 img {
  animation: fadeInLeft 0.8s 0.5s both;
}
.app .container .character-3 {
  position: absolute;
  width: 20%;
  left: 2%;
  bottom: 29%;
  z-index: 4;
}
@media only screen and (min-width: 500px) {
  .app .container .character-3 {
    width: 15%;
    left: 5%;
    bottom: 35%;
    z-index: 8;
  }
}
.app .container .character-3 img {
  animation: fadeInTop 0.8s 0.6s both;
}
.app .container .character-4 {
  display: none;
  width: 7.5%;
  top: 10%;
  left: 20%;
  animation: flashIn 1s 1s ease both;
}
@media only screen and (min-width: 500px) {
  .app .container .character-4 {
    display: block;
  }
}
.app .container .character-4 img {
  animation: topBottom 2s linear alternate infinite;
}
.app .btn-jryx {
  position: absolute;
  width: 35%;
  height: 0.97rem;
  background: url("/assets/images/mobile/btn-jryx.png") no-repeat center/100%;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
  z-index: 10;
  opacity: 0;
  animation: flashInMobile 0.8s 1.5s forwards;
}
@media only screen and (min-width: 500px) {
  .app .btn-jryx {
    display: none;
  }
}
.app .icon-arrow {
  position: absolute;
  width: 0.6rem;
  height: 0.65rem;
  left: 50%;
  bottom: 0.15rem;
  margin-left: -0.3rem;
  animation: slide1Before 0.8s linear infinite;
  z-index: 50;
}
@media only screen and (min-width: 500px) {
  .app .icon-arrow {
    width: 3%;
    height: unset;
    bottom: 1%;
    left: 50%;
    margin-left: -1.5%;
    z-index: 210;
  }
}
.app .icon-arrow img {
  display: block;
  width: 100%;
}

@keyframes trasnlateleft {
  0% {
    transform: translate(-8%, -5%);
  }
  50% {
    transform: translate(2%, 5%);
  }
  100% {
    transform: translate(-8%, -5%);
  }
}
@keyframes trasnlateleftmobile {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes trasnlateTomBottom {
  0% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(10%);
  }
}
@keyframes trasnlateTomBottomMobile {
  0% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(20%);
  }
}
@keyframes flipXIn {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  100% {
    transform: perspective(400px);
  }
}
@keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes flashIn {
  0% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(20%);
  }
}
@keyframes flashInMobile {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes topBottom {
  0% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(20%);
  }
}
@keyframes slide1Before {
  0% {
    transform: translateY(-10%);
  }
  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(-10%);
  }
}
@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -300px, 0);
    transform: translate3d(0, -300px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

/*# sourceMappingURL=index.css.map */
